  /* TarabaComfortaa*/

  /* Webfont: TarabaComfortaa Light*/
  @font-face {
      font-family: 'TarabaComfortaa';
      src: url('../fonts/tarabaSans/tarabaLight.woff2') format('woff2');
      /* Modern Browsers */
      font-style: normal;
      font-weight: 300;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }

  /* Webfont: TarabaComfortaa Regular*/
  @font-face {
      font-family: 'TarabaComfortaa';
      src: url('../fonts/tarabaSans/tarabaRegular.woff2') format('woff2');
      font-style: normal;
      font-weight: 400;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }

  /* Webfont: TarabaComfortaa Medium*/
  @font-face {
      font-family: 'TarabaComfortaa';
      src: url('../fonts/tarabaSans/tarabaMedium.woff2') format('woff2');
      font-style: normal;
      font-weight: 500;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }

  /* Webfont: TarabaComfortaa Semi Bold*/
  @font-face {
      font-family: 'TarabaComfortaa';
      src: url('../fonts/tarabaSans/tarabaSemiBold.woff2') format('woff2');
      font-style: normal;
      font-weight: 600;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }

  /* Webfont: TarabaComfortaa Bold*/
  @font-face {
      font-family: 'TarabaComfortaa';
      src: url('../fonts/tarabaSans/tarabaBold.woff2') format('woff2');
      font-style: normal;
      font-weight: 700;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }

  /* Webfont: TarabaComfortaa Extra Bold*/
  @font-face {
      font-family: 'TarabaComfortaa';
      src: url('../fonts/tarabaSans/tarabaExtraBold.woff2') format('woff2');
      font-style: normal;
      font-weight: 800;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }

  /* Webfont: TarabaComfortaa Black (Heavy) on je 900 ali ga nema trenutno*/


  /* Roboto */

  /* Webfont: Roboto Thin*/
  @font-face {
      font-family: 'Roboto';
      src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
      font-style: normal;
      font-weight: 100;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }

  /* Webfont: Roboto light*/
  @font-face {
      font-family: 'Roboto';
      src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
      font-style: normal;
      font-weight: 300;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }

  /* Webfont: Roboto Rgular*/
  @font-face {
      font-family: 'Roboto';
      src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
      font-style: normal;
      font-weight: 400;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }

  /* Webfont: Roboto Medium*/
  @font-face {
      font-family: 'Roboto';
      src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
      font-style: normal;
      font-weight: 500;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }

  /* Webfont: Roboto Bold*/
  @font-face {
      font-family: 'Roboto';
      src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
      font-style: normal;
      font-weight: 700;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }

  /* Webfont: Roboto Extra Bold*/
  @font-face {
      font-family: 'Roboto';
      src: url('../fonts/roboto/Roboto-Black.ttf') format('truetype');
      font-style: normal;
      font-weight: 900;
      text-rendering: optimizeLegibility;
      font-display: swap;
  }