.footer {
    &-container {
        width: 100%;
        height: 757.15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
    }

    &-logo {
        width: 98.84px;
        height: 26.13px;
        margin-top: 45px;
        margin-bottom: 20px;
    }

    &-links {
        display: flex;
        flex-direction: row;
        height: 50px;
        margin-bottom: 25px;
    }

    &-link {
        width: 44.02px;
        height: 44.02px;
        padding: 0 5px;
        border-radius: 10px;
        margin-bottom: 40px;
    }

    &-mix {
        margin-bottom: 40px;
    }

    &-line {
        width: 278px;
        border: 1px solid $grey;
        background-color: $grey;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    &-item-logo {
        width: 98.88px;
        height: 19px;
        margin-bottom: 20px;
    }

    &-item-teach {
        width: 150.52px;
        height: 19px;
        margin-top: 20px;
    }

    &-item-portal {
        margin-top: 20px;
        width: 168.9px;
        height: 22px;
    }

    &-item-edu {
        margin-top: 20px;
        width: 143.64px;
        height: 19px;
    }

    &-item-oakli {
        margin-top: 20px;
        width: 74.54px;
        height: 19px;
    }

    &-copyright {
        font-family: 'Roboto';
        width: 278px;
        height: 28px;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        color: $lightgrey;
        margin-top: 35px;
    }
}

.footer-text {

    &-link {
        font-family: 'TarabaComfortaa';
        font-size: 16px;
        font-weight: 700;
        line-height: 11px;
        letter-spacing: 0em;
        color: $darkgrey;
        text-align: center;
        margin-bottom: 20px;
    }

    &-links {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $ocher;
        text-align: center;
        text-decoration: underline;
    }

    &-linked {
        height: 19px;
        font-family: 'TarabaComfortaa';
        font-size: 16px;
        font-weight: 700;
        line-height: 19.44px;
        color: $darkgrey;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}