.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 360px;
    height: 60px;
    background-color: $bckhome;
    box-shadow: 0px 1px 16px 0px rgba(255, 120, 0, 0.2);
}

.logo {
    width: 87px;
    height: 23px;
    margin-top:19px;
    margin-left: 8px;
}

.navbar {
    
&-section {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    float: right;
}

&-images {
    width: 24px;
    height: 24px;
    margin-top: 16px;
    margin-right: 6px;
}

&-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: $bckhome;
    width: 187px;
    height: 595px;
    margin-top: 59px;
    left: 172px;
    list-style: none;
}

&-links-items {
    width: 22.05px;
    height: 21.92px;
    border-radius: 2px;
    margin-right: 30px;
    float: right;
    
}
}

.hamburger-bar {
    width: 27px;
    height: 12px;
    margin-top: 22px;
    margin-right: 7px;
}

#nav-links {
    display: none;
}

.nav-item {
    margin-top: 50px;
    margin-left: 15px;

&_1 {
    margin-top: 40px;
    margin-left: 15px;
}

&_2 {
    margin-top: 100px;
    margin-left: 15px;
}

&_4 {
    margin-top: 50px;
    margin-left: 15px;
    width: 117px;
    height: 47px;
    border: 2px solid $button;
    border-radius: 15px;
    text-align: center;
    padding-top: 5%;
}
}

.nav-link {
    list-style-type: none;
    text-decoration: none;
    color: $formstext;
    font-size: 18px;
    line-height: 21.87px;
    font-weight: 400;

&_3 {
    color: $button;
    font-size: 18px;
    line-height: 21.87px;
    font-weight: 400;
}

&_4 {
    color: $formstext;
    font-size: 18px;
    line-height: 21.87px;
    font-weight: 400;
}
}
