.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: $white;
    box-shadow: 0px 1px 16px 0px $darkocher;
}

.logo {
    width: 87px;
    height: 23px;
    margin-top: 19px;
    margin-left: 8px;
}

.navbar {
    &-section {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        float: right;
    }

    &-images {
        width: 22px;
        height: 24px;
        margin-top: 16px;
        margin-right: 6px;
    }

    &-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $white;
        width: 187px;
        height: 595px;
        margin-top: 0px;
        right: 0px;
        list-style: none;
    }
}

.hamburger-bar {
    width: 27px;
    height: 12px;
    margin-top: 22px;
    margin-right: 7px;
    position: relative;

}

.close-button {
    width: 22px;
    height: 22px;
}

#nav-links {
    display: none;
}

.nav-item {
    margin-top: 50px;
    margin-left: 15px;
    font-family: 'TarabaComfortaa';
    font-weight: 400;

    &_1 {
        margin-top: 40px;
        margin-left: 15px;
    }

    &_2 {
        margin-top: 100px;
        margin-left: 15px;
        font-family: 'TarabaComfortaa';
        font-weight: 400;
    }

    &_4 {
        margin-top: 50px;
        margin-left: 15px;
        width: 117px;
        height: 47px;
        border: 2px solid $orange;
        border-radius: 15px;
        text-align: center;
        padding-top: 5%;
        font-family: 'TarabaComfortaa';
        font-weight: 400;
    }
}

.nav-link {
    list-style-type: none;
    text-decoration: none;
    color: $darkgrey;
    font-size: 18px;
    line-height: 21.87px;
    font-weight: 400;

    &_3 {
        color: $orange;
        font-family: 'TarabaComfortaa';
        font-size: 18px;
        line-height: 21.87px;
        font-weight: 900;
    }

    &_4 {
        color: $darkgrey;
        font-size: 18px;
        line-height: 21.87px;
        font-weight: 400;
    }
}

.rotation {
    position: relative;
    margin-left: 120px;
    margin-top: 30px;
}

/* Responsive */

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .header-container {
        height: 97px;
    }

    .logo {
        width: 146px;
        height: 39px;
        margin-top: 26px;
        margin-left: 21px;
    }

    .hamburger-bar {
        display: none;
    }

    .navbar {
        &-images {
            position: absolute;
            width: 24px;
            height: 24px;
            margin-top: 45px;
            right: 10px;
        }
    }

    #nav-links {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 410px;
        height: 97px;
        margin-right: 40px;
    }

    #nav-links-back {
        display: none;
    }

    .nav-item {
        margin-top: 45px;

        &_1 {
            margin-top: 0;
        }

        &_2 {
            margin-top: 45px;
            margin-left: 0;
            width: 143px;
        }

        &_4 {
            margin-top: 33px;
            padding-top: 10px;
        }
    }

    .nav-link {
        font-size: 14px;

        &_3 {
            font-size: 14px;
            font-weight: 400;
        }

        &_4 {
            font-size: 14px;
            text-decoration: none;
        }
    }

    .nav-link br {
        display: contents;
        /*ovo proveriti*/
    }
}

@media screen and (min-width: 1440px) and (max-width: 2500px) {

    .header-container {
        height: 97px;
    }

    .logo {
        width: 146px;
        height: 39px;
        margin-top: 26px;
        margin-left: 21px;
    }

    .hamburger-bar {
        display: none;
    }

    .navbar {
        &-images {
            position: absolute;
            width: 24px;
            height: 24px;
            margin-top: 45px;
            right: 10px;
        }
    }

    #nav-links {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 410px;
        height: 97px;
        margin-right: 40px;
    }

    #nav-links-back {
        display: none;
    }

    .nav-item {
        margin-top: 45px;

        &_1 {
            margin-top: 0;
        }

        &_2 {
            margin-top: 45px;
            margin-left: 0;
            width: 143px;
        }

        &_4 {
            margin-top: 33px;
            padding-top: 10px;
        }
    }

    .nav-link {
        font-size: 14px;

        &_3 {
            font-size: 14px;
            font-weight: 400;
        }

        &_4 {
            font-size: 14px;
            text-decoration: none;
        }
    }

    .nav-link br {
        display: contents;
        /*ovo proveriti*/
    }
}