$bodytext:rgba(102, 102, 102, 1);
$button:#FFA039;
$formstext:#2D2D2D;
$errortext:#FF1934;
$bckhome:#FAFAFA;
$bckgreyhome:#D7D7D7;
$bcksingin:#FFCF9B;
$bcksection:#FFB769;
$headtext:#ff7800;
$footerblack:rgba(45, 45, 45, 1);
$footertext: rgba(255, 138, 10, 1);
