@import "_variable";
@import "_base";
@import "_header";
@import "_footer";
@import "fonts";

.container {
    width: 100%;
    background-color: $lightwhite_greywhite;
    padding-left: 8px;
    padding-bottom: 30px;

    hr {
        color: $orange;
    }

    &-title {
        padding-top: 40px;
        margin-bottom: 10px;
        font-family: 'TarabaComfortaa';
        font-size: 17px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: $darkgrey;

        &-item {
            margin-top: 30px;
            color: $darkgrey;
            font-size: 14px;
            font-family: 'TarabaComfortaa';
            font-weight: 400;
        }
    }

    &-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    &-items {
        display: flex;
        width: 98px;
        height: 30px;
        border: 1px solid $orange;
        margin-right: 19px;
        border-radius: 15px;
        margin-bottom: 10px;
        font-family: 'TarabaComfortaa';
        font-size: 14px;
        font-weight: 400;
        justify-content: center;
        align-items: center;
        color: $black;
        background-color: $lightwhite_greywhite;

        &-fill {
            display: flex;
            width: 98px;
            height: 30px;
            border: 1px solid $orange;
            margin-right: 19px;
            border-radius: 15px;
            margin-bottom: 10px;
            font-family: 'TarabaComfortaa';
            font-size: 14px;
            font-weight: 400;
            justify-content: center;
            align-items: center;
            background-color: $orange;
            color: $darkgrey;
        }

        &-empty {
            display: flex;
            font-family: 'TarabaComfortaa';
            font-size: 14px;
            font-weight: 400;
            width: 98px;
            height: 30px;
            border: 1px solid $black;
            margin-right: 19px;
            border-radius: 15px;
            margin-bottom: 10px;
            justify-content: center;
            align-items: center;
            color: $lightgrey;
            text-decoration: line-through;
            background-color: $lightwhite_greywhite;
        }
    }
}

.box {
    width: 309px;
    position: relative;

    &-point {
        position: absolute;
        top: 24px;
        left: 13px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $red;
    }
}

.area-comment {
    max-width: 100%;
    width: 309px;
    height: 89px;
    border: 1px solid $lightgreyline;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;

    &-input {
        /*generator_empty_input*/
        max-width: 100%;
        width: 309px;
        height: 89px;
        border: 1px solid $red;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }
}

.area-comment:placeholder-shown {
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.area-comment-input:placeholder-shown {
    /*generator_empty_input*/
    padding-top: 10px;
    padding-left: 25px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.area-comment::-moz-placeholder {
    color: $darkgrey;
    opacity: 1 !important;
}

.area-comment-input::-moz-placeholder {
    color: $red;
    opacity: 1 !important;
}

.line {
    border: 1px solid $lightgreyline;
    width: 21.15px;
    rotate: 134.82deg;
    margin-left: 290px;
    margin-top: -9px;
    resize: none;

    &-input {
        /*generator_empty_input*/
        border: 1px solid $red;
        width: 21.15px;
        rotate: 134.82deg;
        margin-left: 290px;
        margin-top: -9px;
    }

    &-under {
        border: 1px solid $lightgreyline;
        width: 14.1px;
        rotate: 134.82deg;
        margin-left: 296px;
        resize: none;
        margin-bottom: 20px;

        &-input {
            /*generator_empty_input*/
            border: 1px solid $red;
            width: 14.1px;
            rotate: 134.82deg;
            margin-left: 296px;
            margin-bottom: 20px;
        }
    }
}

#get {
    /*input color*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 90px;
    height: 26px;
    border: none;
    background-color: transparent;

    &-in {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 90px;
        height: 26px;
        border: none;
        background-color: transparent;
    }

    &-inner {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 90px;
        height: 26px;
        border: none;
        background-color: transparent;
    }

    &-outer {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 90px;
        height: 26px;
        border: none;
        background-color: transparent;
    }
}

#file {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 90px;
    height: 26px;
    border: 1px solid $lightgreyline;
    border-radius: 5px;
    background-color: $white;

    &-in {
        width: 69px;
        height: 26px;
        color: $darkgrey;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding-top: -2px;
        border: 1px solid $lightgreyline;
        border-radius: 5px;
    }
}

#file::-webkit-progress-bar {
    margin-left: -1px;
    border-radius: 5px;
    background-color: $lightgreyline;
    border: none;
}

#file::-moz-progress-bar {
    margin-left: -1px;
    border-radius: 5px;
    background-color: $lightgreyline;
    border: none;
}

#get::-webkit-color-swatch {
    /*input color*/
    border-radius: 5px;
    border: none;
}

#get-in::-webkit-color-swatch {
    border-radius: 5px;
    background: green;
    border: none;
}

#get::-moz-color-swatch {
    /*input color*/
    border-radius: 5px;
    border: none;
}

#get-in::-moz-color-swatch {
    border-radius: 5px;
    border: none;
}

#get-eyes::-webkit-color-swatch {
    /*input color*/
    border-radius: 5px;
    border: none;
}

#get-eyes::-moz-color-swatch {
    /*input color*/
    border-radius: 5px;
    border: none;
}

#get-inner::-webkit-color-swatch {
    /*input color*/
    border-radius: 5px;
    border: none;
}

#get-inner::-moz-color-swatch {
    /*input color*/
    border-radius: 5px;
    border: none;
}

#get-outer::-webkit-color-swatch {
    /*input color*/
    border-radius: 5px;
    border: none;
}

#get-outer::-moz-color-swatch {
    /*input color*/
    border-radius: 5px;
    border: none;
}

#put {
    width: 69px;
    height: 26px;
    color: $darkgrey;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-top: -2px;
    border: 1px solid $lightgreyline;
    border-radius: 5px;

    &-in {
        width: 69px;
        height: 26px;
        color: $darkgrey;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        border: 1px solid $lightgreyline;
        border-radius: 5px;
        padding-top: -2px;
    }

    &-inner {
        width: 69px;
        height: 26px;
        color: $darkgrey;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        border: 1px solid $lightgreyline;
        border-radius: 5px;
        padding-top: -2px;
    }

    &-outer {
        width: 69px;
        height: 26px;
        color: $darkgrey;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        border: 1px solid $lightgreyline;
        border-radius: 5px;
        padding-top: -2px;
    }
}

.content {

    .placeholder {
        width: 194px;
        height: 193px;
        margin-bottom: 30px;
        border: 1px solid $light_greywhite;

        img {
            width: 100%;
        }
    }

    &-qr {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 20px;
        margin-bottom: 35px;

        &-type {
            display: flex;
            justify-content: flex-start;
            column-gap: 20px;
            margin-bottom: 20px;

            &-color {
                background-color: $orange;
                width: 79px;
                height: 27px;
                color: $white;
                border: none;
                border-radius: 5px;
                font-family: 'TarabaComfortaa';
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                padding-top: 3px;
            }

            &-gradient {
                width: 79px;
                height: 27px;
                color: $orange;
                text-decoration: underline;
                font-family: 'TarabaComfortaa';
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                padding-top: 6px;
            }
        }

        &-title {
            margin-top: 10px;
            margin-bottom: 10px;
            color: $darkgrey;
            font-size: 14px;
            font-family: 'TarabaComfortaa';
            font-weight: 400;
        }

        &-color {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            padding-top: 10px;
            width: 60px;
            height: 60px;
            border: 2px solid $orange;
            border-radius: 10px;
            background-color: $orange;

            &-text {
                margin-top: 5px;
                color: $orange;
                font-family: 'TarabaComfortaa';
                font-weight: 900;
                font-size: 14px;
                padding: auto;
                text-align: center;
            }

            img {
                width: 36px;
                height: 36px;
            }
        }

        &-brand {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            padding-top: 10px;
            width: 60px;
            height: 60px;
            border: 2px solid $orange;
            border-radius: 10px;

            &-text {
                margin-top: 5px;
                font-family: 'TarabaComfortaa';
                font-weight: 400;
                font-size: 14px;
                color: $darkgrey;
                padding: auto;
                text-align: center;
            }

            img {
                width: 36px;
                height: 36px;
            }

            p {
                text-align: center;
            }
        }
    }
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 160px;
    height: 27px;
    border-radius: 5px;
    padding-top: 3px;
    border: 1px solid $lightgreyline;
    font-family: 'TarabaComfortaa';
    font-size: 14px;
    font-family: 400;
    line-height: 17.01px;
    cursor: pointer;

    &-title {
        margin-bottom: 10px;
        margin-top: 20px;
        font-family: 'TarabaComfortaa';
        font-size: 14px;
        font-weight: 400;
        color: $darkgrey;
    }

    &-box {
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 160px;
        border: none;
        border-radius: 5px;
        padding-left: 5px;
        font-family: 'TarabaComfortaa';
        font-size: 14px;
        font-family: 400;
        line-height: 17.01px;
        background-color: transparent;
        cursor: pointer;
    }

    &-px {
        position: absolute;
        right: 20px;
        width: 90px;
        padding-bottom: 4px;
        pointer-events: none;
    }

    &-arrow {
        position: absolute;
        right: 3px;
        pointer-events: none;

        img {
            width: 20px;
            height: 20px;

        }
    }
}

.custom-format {
    position: relative;
    display: grid;
    grid-template-columns: 50px 50px 60px 50px;
    column-gap: 15px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    color: $darkgrey;
}

.custom-format input[type="radio"] {
    appearance: none;
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid $darkorange;
    margin-right: 5px;
}

.custom-format input[type="radio"]:checked {
    width: 8px;
    height: 8px;
    background-color: $darkorange;
}

.btn {
    margin-top: 30px;

    button {
        width: 108px;
        height: 27px;
        border: 2px solid $orange;
        border-radius: 5px;
        padding-top: 3px;
        font-family: 'TarabaComfortaa';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    &-download {
        background-color: $orange;
        color: $white;
        margin-right: 10px;
    }

    &-print {
        background-color: $light_greywhite;
        color: $darkgrey;
    }
}

.test_notification {
    margin-top: 20px;
    width: 206px;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}