@import "_variable";
@import "_base";
@import "_header";
@import "_footer";
@import "_fonts";
@import "_responsive_home";


.section {

    &-heading-text {
        font-family: 'Roboto';
        color: $lightgrey;
        margin-top: 10px;
        font-size: 14px;
        line-height: 16.41px;
        margin-left: 8px;
        margin-bottom: 10px;
    }

    &-btn {
        width: 198px;
        height: 56px;
        margin-top: 15px;
        margin-left: 9px;
        font-family: 'TarabaComfortaa';
        font-size: 14px;
        font-weight: 400;
        line-height: 17.01px;
        letter-spacing: 0em;
        border-radius: 15px;
        color: $white;
        background-color: $orange;
        border: $darkorange;
        box-shadow: -2px -2px 10px 0px $darkorange inset;
        cursor: pointer;

        &-empty {
            width: 198px;
            height: 56px;
            margin-top: 15px;
            margin-left: 9px;
            font-family: 'TarabaComfortaa';
            font-size: 14px;
            font-weight: 400;
            line-height: 17.01px;
            letter-spacing: 0em;
            border-radius: 15px;
            background-color: $light_greywhite;
            color: $darkgrey;
            border: 2px solid $darkorange;
            cursor: pointer;
        }
    }

    &-container {

        &-first {
            width: 100%;
            background-color: $light_greywhite;
            padding-top: 42px;
            padding-left: 8px;

            &-videos {

                &-code {

                    &-dinamic {

                        &-break {
                            br {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.central {
    width: 217px;
    height: 217px;
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
}

.heading {

    &-title {
        display: flex;
        margin-top: 30px;
        margin-bottom: 10px;
        align-items: baseline;

        img {
            margin-right: 10px;
            width: 22px;
            height: 22px;
        }

        &-main {
            font-size: 34.18px;
            line-height: 41.53px;
            font-weight: 900;
            color: $darkgrey;
            font-family: 'TarabaComfortaa';
            margin-left: 9px;
            padding-top: 20px;
        }
    }

    &-qr {
        font-size: 34.18px;
        line-height: 41.53px;
        font-weight: 900;
        color: $black;
        font-family: 'TarabaComfortaa';

        &-codes {
            font-family: 'Roboto';
            color: $lightgrey;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.41px;
        }
    }
}

.content {
    display: flex;
    margin-top: 10px;

    img {
        margin-right: 10px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
    }

    &-first {
        display: flex;
        margin-top: 20px;

        img {
            margin-right: 10px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 10px;

        img {
            padding-left: 10px;
            width: 30px;
            height: 35px;
            margin-bottom: -20px;
            font-size: 20px;
        }

        p {
            width: 250px;
            margin-left: 28px;
        }
    }

    &-items {
        margin-top: 40px;
    }

    &-title {
        font-size: 20px;
        line-height: 24.3px;
        font-family: 'TarabaComfortaa';
        font-weight: 700;
        color: $black;
        opacity: 1;
    }

    &-circle {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $ocher;
        float: left;
        margin-top: 20px;
        margin-right: 5px;
    }

    &-text {
        width: 315px;
        text-align: left;
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
}

.screen {
    width: 344px;
    height: 205px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container {

    &-second {
        background-color: $lightocher;
        padding-top: 30px;
        padding-left: 4px;
        height: 893px;

        p:nth-child(2) {
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    &-third {
        height: 2900px;
        background-color: $light_greywhite;
        padding-top: 30px;
        padding-left: 8px;
        width: 100%;
    }

    &-fourth {
        width: 100%;
        height: auto;
        background-color: $greywhite30;
        padding-bottom: 20px;
        padding-top: 34px;

        &-btn {
            width: 104px;
            height: 36px;
            margin-top: 15px;
            margin-left: 10px;
            font-family: 'TarabaComfortaa';
            font-size: 14px;
            font-weight: 400;
            line-height: 17.01px;
            letter-spacing: 0em;
            border-radius: 15px;
            color: $white;
            border: 1px solid $orange;
            background-color: $orange;
            box-shadow: 2px 20px 5px -15px $darkbrown25;
            cursor: pointer;

            &-blank {
                width: 104px;
                height: 36px;
                margin-top: 15px;
                margin-left: 10px;
                margin-bottom: 30px;
                font-family: 'TarabaComfortaa';
                font-size: 14px;
                font-weight: 400;
                line-height: 17.01px;
                letter-spacing: 0em;
                border-radius: 15px;
                color: $darkgrey;
                border: 1px solid $orange;
                cursor: pointer;
                background: $greywhite30;
            }
        }

        &-life {
            margin-top: 35px;
            margin-bottom: 5px;
        }
    }

    &-fifth {
        position: relative;
        width: 100%;
        height: 654px;

        &-section {
            position: absolute;
            width: 100%;
            height: 654px;
            background: $lightorange;
            opacity: 0.1;

            &-topic {
                position: absolute;
                padding-top: 20px;
                padding-left: 10px;
                padding-right: 10px;

                &-text {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 34.18px;
                    line-height: 41.53px;
                    font-weight: 900;
                    color: $black;
                    font-family: 'TarabaComfortaa';

                    &-quest {
                        font-family: 'Roboto';
                        color: $lightgrey;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.41px;
                    }
                }
            }
        }
    }
}

.subtitle {
    width: 327px;
    margin-bottom: 20px;

    &-text {
        width: 100%;
        padding-left: 9px;
        padding-right: 13px;
        padding-top: 10px;
        height: 96px;
        margin-bottom: 15px;
    }
}

.boxes {

    &-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

.box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 226px;
    height: 188px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background-color: $lightwhite;
    box-shadow: 0px 20px 5px -15px $darkbrown25;

    &-title {
        display: flex;
        flex-direction: row;
        margin-top: 35px;
        width: 58px;
        height: 21px;
        justify-content: center;

        img {
            width: 16px;
            height: 16px;
        }
    }

    &-text {
        width: 188px;
        height: 32;
        margin-top: 10px;
        text-align: left;
        color: $darkgrey;

        &-phone {
            width: 188px;
            height: 32;
            margin-top: 10px;
            margin-left: 40px;
            text-align: left;
            color: $darkgrey;
        }

        &-sms {
            width: 186px;
            height: 32;
            margin-top: 10px;
            text-align: left;
            color: $darkgrey;
        }

        &-email {
            width: 192px;
            height: 32;
            margin-top: 10px;
            margin-left: 40px;
            text-align: left;
            color: $darkgrey;
        }

        &-whatsapp {
            width: 146px;
            height: 48;
            margin-top: 10px;
            margin-left: 10px;
            text-align: left;
            color: $darkgrey;
        }

        &-facetime {
            width: 192px;
            height: 32;
            margin-top: 10px;
            text-align: left;
            color: $darkgrey;
        }

        &-location {
            width: 175px;
            height: 48;
            margin-top: 10px;
            text-align: left;
            color: $darkgrey;
        }

        &-paypal {
            width: 135px;
            height: 32;
            margin-top: 10px;
            text-align: left;
            color: $darkgrey;
        }
    }
}

.link-text {
    height: 21px;
    font-family: 'TarabaComfortaa';
    font-size: 17px;
    font-weight: 900;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: $darkorange;
    margin-left: 10px;
}

.swiper {

    &-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &-slide {
        width: 226px;
        height: 502px;
        border-radius: 15px;
        background: linear-gradient(167.91deg, $lightestocher -1.62%, $lightwhite 104.93%);
        padding-left: 25px;
        padding-top: 40px;

        hr {
            width: 162px;
            border: 1px solid $lightgreyline;
            margin-bottom: 15px;
        }

        &-title {
            font-family: 'TarabaComfortaa';
            color: $darkgrey;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
        }

        &-box {
            width: 211px;
            height: 51px;
            background: $lightocher1;
            border-radius: 15px;
            padding-top: 10px;
            margin-left: 7px;
            margin-bottom: -20px;
            z-index: -1;

            p {
                font-family: 'TarabaComfortaa';
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                text-align: center;
                color: $white;
            }
        }

        &-main {
            width: 226px;
            height: 502px;
            border-radius: 15px;
            background: linear-gradient($lightocher1 17.19%, $lightwhite 100%);
            padding-left: 25px;
            padding-top: 40px;
            z-index: 1;

            hr {
                width: 162px;
                border: 3px solid $white;
                margin-bottom: 15px;
            }
        }

        &-btn {
            margin: auto;
            margin-left: -10px;
            width: 198px;
            height: 47px;
            margin-top: 30px;
            font-family: 'TarabaComfortaa';
            font-size: 14px;
            font-weight: 400;
            line-height: 17.01px;
            letter-spacing: 0em;
            border-radius: 15px;
            color: $white;
            background-color: $orange;
            border: $darkorange;
            box-shadow: 2px 25px 6px -15px $darkbrown25;
            cursor: pointer;
        }
    }

    &-text {
        margin-top: 10px;

        p {
            font-family: 'Roboto';
            color: $lightgrey;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.41px;
            margin-bottom: 7px;
        }

        &-line {
            margin-top: 10px;

            p {
                font-family: 'Roboto';
                text-decoration: line-through;
                color: $lightgrey;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.41px;
                margin-bottom: 7px;
            }

            p:first-of-type {
                text-decoration: none;
            }
        }
    }
}

/* RESPONSIVE */

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .section {
        &-code {
            display: flex;
            flex-direction: row;
            padding-left: 21px;

            &-central {
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                margin-top: -40px;

            }
        }

        &-container {

            &-first {
                width: 100%;
                background-color: $light_greywhite;
                padding-top: 42px;
                padding-left: 0;

                &-videos {
                    background-color: $light_greywhite;
                    padding-top: 20px;
                    padding-left: 24px;

                    &-code {
                        display: flex;
                        flex-direction: row-reverse;
                        margin-top: 10px;

                        &-screen {
                            width: 50%;
                            text-align: center;
                        }

                        &-dinamic {
                            width: 50%;
                            margin-left: 100px;
                            margin-right: 20px;
                            padding-right: 25px;
                        }
                    }
                }
            }

            &-second {
                &-videos {
                    display: flex;
                    flex-direction: row;
                    background-color: $light_greywhite;
                    padding-top: 40px;
                    padding-left: 24px;

                    &-code {
                        width: 50%;

                        >p {
                            width: 388px;
                        }
                    }
                }
            }
        }

        &-heading {

            &-text {

                br {
                    display: none;
                }
            }
        }
    }

    .break {

        br {
            display: none;
        }
    }

    .screen {
        width: 473px;
        height: 283px;
    }

    .central {
        width: 382px;
        height: 383px;
    }

    .hero {
        width: 407px;

        br {
            display: none;
        }
    }

    .container {

        &-second {
            padding-left: 25px;
            height: auto;
            padding-top: 20px;
            padding-bottom: 40px;

            &-items {
                display: grid;
                grid-template-columns: auto auto auto;
            }
        }

        &-third {
            padding-left: 24px;
            height: auto;
        }

        &-fourth {
            padding-top: 71px;

            &-life {
                display: flex;
                justify-content: end;
                margin-right: 20px;
                margin-bottom: 60px;
            }

            &-btn {
                width: 143px;
                height: 42px;

                &-blank {
                    width: 143px;
                    height: 42px;
                }
            }

            &-life {
                margin-top: 20px;
            }
        }

        &-fifth {

            &-section {
                position: absolute;
                width: 100%;
                height: 654px;
                background: rgba(255, 207, 155, 1);
                opacity: 0.1;

                &-topic {
                    position: absolute;
                    padding-top: 20px;
                    padding-left: 21px;
                    padding-right: 10px;
                }
            }
        }
    }

    .heading {

        &-title {

            &-main {
                margin-left: 24px;
            }
        }

        &-qr {

            &-codes {
                width: 341px;
            }

            br {
                display: none;
            }
        }
    }

    .content {

        &-item {

            p {
                padding-left: 10px;
                width: 260px;
            }
        }

        &-items {
            margin-top: 40px;
            padding-left: 171px;
        }
    }

    .subtitle {

        width: 342px;
        padding-top: 20px;

        &-text {
            padding-left: 24px;
            width: 430px;
        }
    }

    .swiper {

        &-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            &-box {
                height: 40px;
                background: $lightocher1;

                p {
                    color: $white;
                }
            }
        }

        &-slide {

            &-btn {
                width: 198px;
                height: 56px;
            }

            &-main {
                height: 480px;
                padding-top: 10px;
            }
        }

        &-text {
            margin-top: 10px;
        }
    }

    .boxes {

        &-container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            padding-bottom: 100px;
        }
    }
}

@media screen and (min-width: 1440px) {

    .section {

        &-code {
            display: flex;
            flex-direction: row;
            padding-left: 40px;

            &-central {
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                margin-top: -40px;
            }
        }

        &-container {

            &-first {
                width: 100%;
                background-color: $light_greywhite;
                padding-top: 42px;
                padding-left: 0;

                &-videos {
                    background-color: $light_greywhite;
                    padding-top: 20px;
                    padding-left: 24px;

                    &-code {
                        display: flex;
                        flex-direction: row-reverse;
                        margin-top: 10px;

                        &-screen {
                            width: 50%;
                            text-align: center;
                        }

                        &-dinamic {
                            width: 50%;
                            margin-left: 150px;
                            margin-right: 20px;
                            padding-right: 25px;

                            &-break {

                                br {
                                    display: inline-block
                                }
                            }

                            >p {
                                font-size: 18px;
                                line-height: 21.09px;
                                width: 546px;
                            }
                        }
                    }
                }
            }

            &-second {

                &-videos {
                    display: flex;
                    flex-direction: row;
                    background-color: $light_greywhite;
                    padding-top: 40px;
                    padding-left: 24px;
                    padding-bottom: 50px;

                    &-code {
                        width: 50%;

                        >p {
                            font-size: 18px;
                            line-height: 21.09px;
                            width: 547px;
                        }
                    }
                }
            }
        }

        &-heading {

            &-text {
                font-size: 18px;
                line-height: 21px;

                br {
                    display: none;
                }
            }
        }

        &-btn {
            width: 233px;
            height: 55px;
            font-size: 18px;

            &-empty {
                width: 233px;
                height: 55px;
                font-size: 18px;
            }
        }
    }

    .break {

        br {
            display: none;
        }
    }

    .screen {
        width: 660px;
        height: 393px;
    }

    .central {
        width: 599px;
        height: 600px;
    }

    .hero {
        width: 547px;
        font-size: 69px;
        line-height: 83px;

        &-black {
            font-size: 69px;
            line-height: 83px;
        }

        br {
            display: none;
        }
    }

    .container {

        &-second {
            padding-left: 42px;
            height: auto;
            padding-top: 70px;
            padding-bottom: 50px;

            &-items {
                display: grid;
                grid-template-columns: auto auto auto;
            }

            p:nth-child(2) {
                font-size: 18px;
                line-height: 21.09px;
                width: 463px;
            }
        }

        &-third {
            padding-left: 42px;
            height: auto;
        }

        &-fourth {
            padding-top: 71px;
            padding-bottom: 100px;

            &-life {
                display: flex;
                justify-content: end;
                margin-right: 40px;
                margin-top: 20px;
                margin-bottom: 60px;
            }

            &-btn {
                width: 200px;
                height: 51px;
                font-size: 18px;
                line-height: 21.09px;

                &-blank {
                    margin-left: 30px;
                    width: 200px;
                    height: 51px;
                    font-size: 18px;
                    line-height: 21.09px;
                }
            }
        }

        &-fifth {

            &-section {
                position: absolute;
                width: 100%;
                height: 654px;
                background: rgba(255, 207, 155, 1);
                opacity: 0.1;

                &-topic {
                    position: absolute;
                    padding-top: 20px;
                    padding-left: 35px;
                    padding-right: 10px;

                    &-text {
                        font-size: 43.95px;
                        line-height: 53.4px;

                        &-quest {
                            font-size: 18px;
                            line-height: 21.09px;
                        }
                    }
                }
            }
        }
    }

    .heading {

        &-title {
            margin-top: 50px;

            img {
                width: 28px;
                height: 28px;
            }

            &-main {
                margin-left: 41px;
                font-family: 'TarabaComfortaa';
                font-size: 43.95px;
                font-weight: 900;
                line-height: 53.4px;
            }
        }

        &-qr {
            font-family: 'TarabaComfortaa';
            font-size: 43.95px;
            font-weight: 900;
            line-height: 53.4px;

            &-codes {
                width: 495px;
                font-size: 18px;
                line-height: 21.78px;
            }

            br {
                display: none;
            }
        }

        &-black {
            font-size: 43.95px;
            line-height: 53.4px;
        }
    }

    .content {

        margin-top: 15px;

        img {
            width: 18px;
            height: 18px;
        }

        p {
            font-size: 18px;
            line-height: 21.09px;
        }

        &-first {

            img {
                width: 18px;
                height: 18px;
            }

            p {
                font-size: 18px;
                line-height: 21.09px;
            }
        }

        &-item {

            p:nth-child(2) {
                font-family: 'TarabaComfortaa';
                font-size: 22.05px;
                font-weight: 700;
                line-height: 26.79px;
            }

            p:nth-child(3) {
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: 400;
                line-height: 21.09px;
                width: 320px;
            }

            p {
                padding-left: 10px;
                width: 260px;
            }
        }

        &-items {
            margin-top: 40px;
            padding-left: 171px;
        }

        &-title {
            font-size: 22.05px;
            line-height: 26.79px;
        }

        &-text {
            font-size: 18px;
            line-height: 21.09px;
            width: 664px;

            br {
                display: none;
            }
        }
    }

    .subtitle {
        font-size: 18px;
        line-height: 21.09px;
        width: 545px;
        padding-top: 20px;

        &-text {
            padding-left: 41px;
            width: 540px;
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 400;
            line-height: 21.09px;
        }
    }

    .subheading_1 {
        font-family: 'TarabaComfortaa';
        font-size: 35.16px;
        font-weight: 700;
        line-height: 42.72px;
    }

    .swiper {

        &-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            &-box {
                height: 40px;
                background: $lightocher1;

                p {
                    color: $white;
                }
            }
        }

        &-slide {
            width: 316px;
            height: 693px;

            hr {
                display: none;
            }

            &-box {
                margin-left: 50px;
                background: linear-gradient($lightocher1 17.19%, $lightwhite 100%);
                margin-top: -30px;

                p {
                    font-family: 'TarabaComfortaa';
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 19.44px;
                    color: $lightgrey;
                }
            }

            &-btn {
                width: 233px;
                height: 56px;
                font-size: 18px;
            }

            &-main {
                width: 316px;
                height: 693px;
                padding-top: 35px;

                hr {
                    margin-top: -15px;
                    width: 180px;
                }
            }

            &-title {
                font-size: 18px;
                line-height: 21.87px;
                text-decoration: underline;
                text-decoration-style: 1 px solid $lightgrey;
                margin-bottom: 25px;
            }
        }

        &-text {
            margin-top: 10px;

            p {
                font-size: 18px;
                line-height: 21.09px;
                margin-bottom: 15px;
            }

            &-line {
                margin-top: 10px;

                p {
                    font-size: 18px;
                    line-height: 21.09px;
                    margin-bottom: 15px;
                }
            }

        }

        &-heading {

            &-black {
                font-family: 'TarabaComfortaa';
                font-size: 43.95px;
                font-weight: 700;
                line-height: 53.4px;
                color: $black;
            }
        }
    }

    .box {
        width: 316px;
        height: 277px;

        &-title {

            img {
                width: 17px;
                height: 19px;
            }
        }

        &-text {
            font-size: 18px;
            line-height: 21.09px;
            width: 257px;

            &-phone {
                font-size: 18px;
                line-height: 21.09px;
                width: 257px;
            }

            &-sms {
                font-size: 18px;
                line-height: 21.09px;
                width: 257px;
            }

            &-email {
                font-size: 18px;
                line-height: 21.09px;
                width: 257px;
            }


            &-whatsapp {
                font-size: 18px;
                line-height: 21.09px;
                width: 257px;
            }

            &-facetime {
                font-size: 18px;
                line-height: 21.09px;
                width: 257px;
            }

            &-location {
                font-size: 18px;
                line-height: 21.09px;
                width: 257px;
            }

            &-paypal {
                font-size: 18px;
                line-height: 21.09px;
                width: 257px;
            }
        }
    }

    .link-text {
        font-size: 18px;
        line-height: 21.09px;
    }

    .boxes {

        &-container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            padding-bottom: 100px;
        }
    }
}