@import "_variable";
@import "_base";
@import "_header";
@import "_footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    /*proveriti zasto ne finkcionise, ovo je poslednje probana varijanta */
    font-family: 'Comfortaa', sans-serif;
    src: url('../fonts/Comfortaa/Comfortaa-Bold.ttf') format(truetype),
        url('../fonts/Comfortaa/Comfortaa-Light.ttf') format(truetype),
        url('../fonts/Comfortaa/Comfortaa-Medium.ttf') format(truetype),
        url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format(truetype),
        url('../fonts/Comfortaa/Comfortaa-SemiBold.ttf') format(truetype),
        url('../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format(truetype);
}

.section {
    &-container {
        width: 360px;
        height: 550px;
        background-color: $blackorange;
    }

    &-heading {
        font-family: 'Comfortaa';
        color: $darkorange;
        font-size: 34.18px;
        line-height: 41.53px;
        padding-top: 50px;
        margin-left: 8px;
        font-weight: 900;
    }

    &-heading-text {
        font-family: roboto;
        color: $lightgrey;
        margin-top: 10px;
        font-size: 14px;
        line-height: 16.41px;
        margin-left: 8px;
        margin-bottom: 10px;
    }

    &-checkbox {
        position: relative;
        display: flex;
        flex-direction: row;
        padding-left: 9px;
        margin-top: 16px;
    }

    &-btn {
        width: 198px;
        height: 56px;
        margin-top: 20px;
        margin-left: 9px;
        font-family: 'Comfortaa';
        font-size: 14px;
        font-weight: 400;
        line-height: 17.01px;
        letter-spacing: 0em;
        border-radius: 15px;
        color: $white;
        background-color: $orange;
        border: $darkorange;
        box-shadow: -2px -2px 10px 0px $darkorange inset;
    }

    &-text {
        margin-top: 30px;
        margin-left: 8px;
    }

    &-text-login {
        color: $orange;
        text-decoration: underline;
    }
}

input[type=text] {
    width: 344px;
    height: 47px;
    border: 1px solid $blackgrey;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 300;
    color: $darkgrey;
    background-color: $white;
    margin-top: 15px;
    margin-left: 8px;
    padding-left: 17px;
    font-family: 'Comfortaa';
}

input[type=checkbox] {
    position: absolute;
    width: 24.5px;
    height: 24.5px;
    margin-left: 0.25px;
    /* glupo da nema gde, proveriti zasto borde-radius ne radi NAPOMENA ZA VOJU */
    border-radius: 2px;
    z-index: -2;
}

.checkbox-text {
    width: 285px;
    height: 48px;
    font-family: Roboto;
    color: $lightgrey;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    letter-spacing: 0em;
    margin-left: 5px;
    z-index: 0;
}