@import "_variable";
@import "_base";
@import "_header";
@import "_footer";
@import "_fonts";
@import "_responsive_sing_up";


.section {

    &-container {
        width: 100%;
        height: 550px;
        background-color: $blackorange;
        padding-left: 8px;

        &-illustration {
            display: none;
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
    }

    &-heading {
        font-family: 'TarabaComfortaa';
        color: $darkorange;
        font-size: 34.18px;
        line-height: 41.53px;
        padding-top: 50px;
        font-weight: 900;

        &-text {
            font-family: 'Roboto';
            color: $lightgrey;
            margin-top: 10px;
            font-size: 14px;
            line-height: 16.41px;
            margin-bottom: 10px;
        }
    }

    &-checkbox {
        height: 50px;
        position: relative;
        display: flex;
        flex-direction: row;
        padding-left: 1px;
        margin-top: 16px;
        z-index: 0;
    }

    &-btn {
        width: 198px;
        height: 56px;
        margin-top: 15px;
        margin-left: 1px;
        font-family: 'TarabaComfortaa';
        font-size: 14px;
        font-weight: 400;
        line-height: 17.01px;
        letter-spacing: 0em;
        border-radius: 15px;
        color: $white;
        background-color: $orange;
        border: $darkorange;
        box-shadow: -2px -2px 10px 0px $darkorange inset;
        cursor: pointer;

        &-log {
            width: 198px;
            height: 56px;
            margin-top: -10px;
            margin-left: 1px;
            font-family: 'TarabaComfortaa';
            font-size: 14px;
            font-weight: 400;
            line-height: 17.01px;
            letter-spacing: 0em;
            border-radius: 15px;
            color: $white;
            background-color: $orange;
            border: $darkorange;
            box-shadow: -2px -2px 10px 5px $darkorange inset;
            cursor: pointer;
        }

        &-lost {
            width: 198px;
            height: 56px;
            margin-top: 18px;
            margin-left: 1px;
            font-family: 'TarabaComfortaa';
            font-size: 14px;
            font-weight: 400;
            line-height: 17.01px;
            letter-spacing: 0em;
            border-radius: 15px;
            color: $white;
            background-color: $orange;
            border: $darkorange;
            box-shadow: -2px -2px 10px 5px $darkorange inset;
            cursor: pointer;
        }
    }

    &-links {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    &-links a {
        font-family: 'TarabaComfortaa';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        color: $orange;
        padding-right: 20px;
    }

    &-text {
        margin-top: 30px;

        &-login {
            color: $orange;
            text-decoration: underline;
            font-family: 'TarabaComfortaa';
            font-size: 14px;
            font-weight: 300;
            line-height: 17.01px;
            cursor: pointer;
        }
    }
}

.checkbox {
    &-text {
        width: 285px;
        height: 48px;
        font-family: 'Roboto';
        color: $lightgrey;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        letter-spacing: 0em;
        margin-left: 5px;
        z-index: 0;

        &-error {
            width: 285px;
            height: 48px;
            font-family: 'Roboto';
            color: $red;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            margin-left: 5px;
            letter-spacing: 0em;
            z-index: 0;
        }

        &-desc {
            margin-top: 4px;
            margin-left: 5px;
        }
    }
}

.box {
    margin-right: 5px;
}

input[type=text] {
    width: 344px;
    height: 47px;
    border: 1px solid $blackgrey;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 300;
    color: $darkgrey;
    background-color: $white;
    margin-top: 15px;
    padding-left: 17px;
    font-family: 'TarabaComfortaa';

    &::placeholder {
        /* log_in.html */
        color: $darkgrey;
        font-family: 'TarabaComfortaa';
        font-weight: 300;
        font-size: 14px;
        line-height: 17.01px;
    }

    &::-moz-placeholder {
        /* log_in.html */
        color: $darkgrey;
        font-family: 'TarabaComfortaa';
        font-weight: 300;
        font-size: 14px;
        line-height: 17.01px;
    }
}

input[type=checkbox] {
    position: absolute;
    margin-top: 0px;
    width: 24.5px;
    height: 24.5px;
    margin-left: 0.25px;
    z-index: -2;
    outline: $red;
}

/* RESPONSIVE */

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    .section {
        &-container {
            display: flex;
            justify-content: space-around;
            height: 679px;
            padding-left: 76px;

            &-illustration {
                display: block;
                margin-top: 75px;
                margin-right: 20px;
                width: 437px;
                height: 437px;
            }
        }

        &-heading {
            padding-top: 75px;

            &-text {

                &-resend {
                    width: 510px;
                }

                br {
                    display: none;
                }
            }
        }

        &-text {
            margin-top: 30px;

            &-login {
                margin-bottom: 50px;
            }
        }
    }

    .checkbox {
        &-text {
            width: 360px;

            &-error {
                width: 360px;
            }

            &-desc {
                padding-left: -3px;
            }
        }
    }

    input[type=text] {
        width: 392px;
    }
}

@media screen and (min-width: 1440px) {

    .section {
        &-container {
            display: flex;
            justify-content: space-around;
            height: 710px;
            padding-left: 150px;

            &-illustration {
                display: block;
                margin-top: 75px;
                margin-right: 20px;
                width: 520px;
                height: 520px;
            }
        }

        &-heading {
            padding-top: 84px;
            font-size: 43.95px;
            line-height: 53.4px;

            &-text {
                font-size: 18px;
                line-height: 21.09px;

                &-resend {
                    width: 510px;
                }

                br {
                    display: none;
                }
            }
        }

        &-btn {
            width: 233.13px;
            height: 55.35px;
            margin-top: 15px;
            font-size: 18px;
            line-height: 21.87px;

            &-text {
                margin-top: 30px;

                &-login {
                    margin-bottom: 50px;
                }
            }

            &-log {
                font-size: 18px;
                line-height: 21.87px;
            }
        }

        &-text {
            font-size: 18px;
            margin-top: 30px;

            &-login {
                font-size: 18px;
                line-height: 21.87px;
            }
        }

        &-links a {
            font-size: 18px;
            line-height: 21.87px;
        }
    }

    .checkbox {
        &-text {
            width: 438px;
            height: 42px;
            font-size: 18px;
            line-height: 21.09px;
            margin-top: -2px;
            text-align: justify;

            &-error {
                width: 438px;
                font-size: 18px;
                line-height: 21.09px;
                margin-top: -2px;
            }

            &-desc {
                margin-top: 0.5px;
                padding-left: -3px;
                font-size: 18px;
                line-height: 21.09px;
            }
        }
    }

    input[type=text] {
        width: 548px;
        height: 51px;

        &::placeholder {
            font-size: 18px;
            line-height: 21.87px;
        }

        &::-moz-placeholder {
            font-size: 18px;
            line-height: 21.87px;
        }
    }
}